
<h1>Games Listing</h1>

<% if player_signed_in? %>
  <%= link_to "New Game", play_pvp_path, class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>

    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.title %></td>
        <td><%= game.p1 %></td>
        <td><%= game.p2 %></td>
        <td>
          <% if player_signed_in? %>
            <%= link_to "Join Game", play_join_path(play: { p2: current_player.id }, id: game.id), method: :post, class: 'btn btn-primary' %>
          <% end %>

        </td>
      </tr>
    <% end %>

  </tbody>
</table>
