<!DOCTYPE html>
<html>
<head>
  <title>ConnectFour</title>
  <!-- <%= include_gon %> -->
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://faye-cedar.herokuapp.com/faye.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <div class="">
      <p class="navbar-text pull-right">
        <% if player_signed_in? %>
          Logged in as <strong><%= current_player.email %></strong>.
          <%= link_to 'Edit profile', edit_player_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_player_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_player_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_player_session_path, :class => 'navbar-link'  %>
        <% end %>
      </p>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
